.footer {
    font-size:13px;
    display:block;
    padding:5px 0px 5px 0px;
    text-align:center;
}

img {
    height: 50px;
    width: 50px;
    vertical-align:middle;
    padding-right: 5px;
}

.imgError {
    height: 20px;
    width: 20px;
    vertical-align:middle;    
}

.divInput {
    padding-bottom:15px;
    width: 40%;
    margin:auto;
    text-align: center;
}
.error {
    font-size:13px;
    color:red;
    text-align: center;
}

.divBoton {
    padding-bottom:15px;
    width: 30%;
    margin:auto;
}



