.footer {
    font-size:13px;
    display:block;
    padding:5px 0px 5px 0px;
    text-align:center;
}

img {
    vertical-align: middle;
    width:75px;
    height:75px;
}

.tweets {
    border-radius: 12px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    
}

.tweet {
    text-align: left;
    display:inline;
    border:solid 2px;
}

.tweetheader {
    padding-bottom: 2px;
}

.tweetContent {
    float:right;
    padding-top:8px;
    padding-left:5px;
}

.tweetImg {
    float:left;
}

.imgTweet {
    vertical-align: middle;
    width:50px;
    height:50px;
}

.tweetname {
    font-weight: bold;
}

.tweettext {
    font-weight: normal;
}

.tweetarroba {
    color:lightgray;
}

.tweetid {
    color:gray;
}

.login {
    background-color:white;
    text-align:center;
}

.linkLogin {
    text-align:center;
    vertical-align:middle;
    margin-top: 60px;
    margin-bottom:30px;
    text-decoration:none;
    background-image:url(img/sign-in-2.png);
    background-repeat:no-repeat;
    height:64px;
    width:440px;
    background-position:center;
    border: none;

}

.titulo {
    font-size:35px;
    text-align:center;
}





